.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 72px;
  background-color: var(--color-coral-lightest);
}

.desktopNav {
  display: none;
}

@media (min-width: 1440px) {
  .desktopNav {
    display: flex;
    margin-left: auto;
  }
}
