.authModal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 334px;
  height: 430px;
  max-width: 768px;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  padding: 64px 20px 40px;
  border-radius: 24px;
  background-color: var(--color-coral-lightest);
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  width: 294px;
  font-size: var(--font-size-2_5x0);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight2);
  text-align: center;
  color: var(--color-scheme-1-text);
}

.description {
  width: 294px;
  margin-top: 16px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  text-align: center;
  color: var(--color-scheme-1-text);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
}

.loginBtn,
.registerBtn {
  width: 100%;
  min-height: 44px;
  justify-content: center;
}

.loginBtn {
  background-color: var(--opacity-neutral-5);
  border-color: var(--color-scheme-2-border);
  color: var(--color-scheme-2-text);
}

.registerBtn {
  background-color: var(--color-coral-dark);
  border-color: var(--color-coral-dark);
}

@media (min-width: 768px) {
  .authModal {
    width: 704px;
    height: 348px;
    padding: 64px;
  }

  .title {
    width: 576px;
    font-size: var(--font-size-3_5xl);
  }

  .description {
    width: 576px;
    font-size: var(--font-size-base);
  }

  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    width: auto;
  }

  .loginBtn,
  .registerBtn {
    width: 180px;
  }
}

@media (min-width: 1440px) {
  .authModal {
    width: 768px;
    height: 400px;
    padding: 64px;
  }

  .title {
    width: 640px;
    font-size: var(--font-size-5xl);
  }

  .description {
    width: 640px;
    font-size: var(--font-size-xl);
  }
}
