.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 335px;

  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .form {
    max-width: 644px;
  }
}

.fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  color: var(--color-neutral-darkest);
  font-size: var(--font-size-bases);
  line-height: var(--line-height-tight);
}

@media only screen and (min-width: 1440px) {
  .label {
    font-size: var(--font-size-lg);
  }
}

.input {
  border: 1px solid var(--opacity-neutral-15);
  border-radius: 6px;
  padding: 8px;
  width: 100%;
  height: 40px;
  font-size: var(--font-size-base);

  background-color: var(--color-coral-lighter);
  outline: none;
  color: var(--color-green-darkest);
  transition: border-color var(--transition-base);
}

@media only screen and (min-width: 1440px) {
  .input {
    font-size: var(--font-size-lg);
    height: 43px;
  }
}

.input:hover,
.input:focus {
  border-color: var(--color-coral);
}

input::placeholder {
  color: var(--opacity-neutral-60);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-base);
}

@media only screen and (min-width: 1440px) {
  input::placeholder {
    font-size: var(--font-size-lg);
  }
}

.submitButton {
  width: 100%;
  padding: 10px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .submitButton {
    padding: 7px;
    font-size: var(--font-size-xl);
  }
}

.error {
  position: absolute;
  font-size: var(--font-size-xxs);
  color: var(--color-error);
  left: 0;
  bottom: -14px;
}

.inputError {
  border-color: var(--color-error);
  color: var(--color-error);
}
