.footer {
  background-color: var(--color-scheme-2-foreground);
}

.footerContainer {
  padding: 48px 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-scheme-2-border);
}
.mainRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 3px;

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-none);
  color: var(--color-scheme-2-text);

  transition: color var(--transition-base);
}

.logo:hover,
.logo:focus {
  color: var(--color-scheme-2-accent);
}

.socialIcon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-scheme-2-text);
  transition: color var(--transition-base);
}

.socialLink:hover,
.socialLink:focus {
  color: var(--color-scheme-2-accent);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.nav a {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-scheme-2-text);

  transition: color var(--transition-base);
  padding: 8px 0;
}

.nav a:hover,
.nav a:focus {
  color: var(--color-scheme-2-accent);
}

.copyright {
  margin-top: 32px;
  width: 100%;
  max-width: 239px;
  text-align: center;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-scheme-2-text);
}
@media (min-width: 768px) {
  .footerContainer {
    padding: 48px 32px;
  }

  .top {
    gap: 32px;
  }

  .mainRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    flex-direction: row;
    gap: 124px;
  }

  .socialIcon {
    width: 24px;
    height: 24px;
  }
  .socials {
    gap: 12px;
  }

  .nav {
    flex-direction: row;
    gap: 32px;
  }
  .copyright {
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 1440px) {
  .footerContainer {
    padding: 80px 64px;
  }

  .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .mainRow {
    width: auto;
    flex-direction: row;
    align-items: center;
    gap: 190px;
  }
  .logo {
    padding-right: 271px;
  }
  
 
}
