.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 72px;
  z-index: 10;
  display: flex;
  width: 100vw;
  min-height: calc(100dvh - 72px);
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: var(--color-coral-lightest);
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity var(--transition-base),
    transform var(--transition-base);
}

.isOpen {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.content {
  display: flex;
  width: 100%;
  max-width: var(--container-max-width-mobile);
  min-height: calc(100dvh - 72px);
  flex-direction: column;
  align-items: center;
  padding: 24px var(--container-padding-mobile) 92px;
}

.nav {
  flex-direction: column;
  gap: 24px;
}

.bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: auto;
}

.authActions {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.loginBtn,
.signupBtn,
.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 38px;
  border-radius: 6px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  transition: var(--transition-base);
}

.loginBtn {
  border: 1px solid var(--opacity-neutral-15);
  color: var(--color-scheme-2-text);
  background-color: transparent;
}

.signupBtn,
.addBtn {
  border: 1px solid var(--color-coral);
  color: var(--color-white);
  background-color: var(--color-coral);
}

.loginBtn:hover,
.loginBtn:focus,
.signupBtn:hover,
.signupBtn:focus,
.addBtn:hover,
.addBtn:focus {
  background-color: var(--color-coral-lighter);
  color: var(--color-green-darkest);
}

@media (min-width: 768px) {
  .menu {
    top: 78px;
    min-height: calc(100dvh - 78px);
  }

  .content {
    max-width: var(--container-max-width-tablet);
    min-height: calc(100dvh - 78px);
    padding-right: var(--container-padding-tablet);
    padding-left: var(--container-padding-tablet);
  }
  .addBtn,
  .loginBtn,
  .signupBtn {
    display: none;
  }
}

@media (min-width: 1440px) {
  .menu {
    display: none;
  }
}
