.modal {
  box-sizing: border-box;
  width: calc(100vw - 40px);
  padding: 64px 20px;
  border-radius: 24px;
  background-color: var(--color-scheme-2-background);
}

@media (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 64px 32px;
  }
}

@media (min-width: 1440px) {
  .modal {
    width: 768px;
    padding: 64px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: var(--font-size-2_5x0);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight2);
  text-align: center;
  color: var(--color-scheme-1-text);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-size-3_5xl);
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: var(--font-size-5xl);
  }
}

.description {
  margin-top: 16px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  text-align: center;
  color: var(--color-scheme-1-text);
}

@media (min-width: 1440px) {
  .description {
    font-size: var(--font-size-xl);
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
    width: 430px;
  }

  .cancelBtn,
  .confirmBtn {
    flex: 1;
    width: auto;
  }
}

.cancelBtn {
  background-color: var(--opacity-neutral-5);
  border-color: var(--color-scheme-2-border);
  color: var(--color-scheme-2-text);
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  justify-content: center;
}

.confirmBtn {
  background-color: var(--color-coral-dark);
  border-color: var(--color-coral-dark);
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  justify-content: center;
}

@media (min-width: 1440px) {
  .cancelBtn,
  .confirmBtn {
    font-size: var(--font-size-xl);
  }
}

.cancelBtn:disabled,
.confirmBtn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
