:root {
  /* =========================
     BASE COLORS
  ========================= */

  --color-white: #fff;
  --color-neutral-darkest: #000;

  --color-neutral-lightest: #f2f2f2;
  --color-neutral-lighter: #d8d8d8;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;

  /* =========================
     BRAND (CORAL SYSTEM)
  ========================= */

  --color-coral-lightest: #fff2ec;
  --color-coral-lighter: #ffe5d9;
  --color-coral-light: #ffa57a;
  --color-coral: #cc6534;
  --color-coral-dark: #b24f24;
  --color-coral-darker: #66321a;
  --color-coral-darkest: #4c2613;

  --color-green-darkest: #1b391b;
  /* =========================
     OPACITY TOKENS
  ========================= */
  --opacity-transparent: rgba(255, 255, 255, 0);

  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);

  --opacity-neutral-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-60: rgba(0, 0, 0, 0.6);

  /* =========================
     SEMANTIC TOKENS (UI LAYER)
  ========================= */

  /* Scheme 1 (light UI) */
  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-foreground: var(--color-neutral-lightest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-border: var(--opacity-neutral-15);
  --color-scheme-1-accent: var(--color-coral);

  /* Scheme 2 (warm / accent background) */
  --color-scheme-2-background: var(--color-coral-lightest);
  --color-scheme-2-foreground: var(--color-coral-lighter);
  --color-scheme-2-text: var(--color-coral-darkest);
  --color-scheme-2-border: var(--opacity-neutral-15);
  --color-scheme-2-accent: var(--color-coral);

  /* =========================
     STATE COLORS
  ========================= */

  --color-error: #b00101;

  /* ===== TYPOGRAPHY ===== */
  /* Розміри шрифтів */
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-2_5x0: 1.625rem; /* 26px */
  --font-size-2_5xl: 1.75rem; /* 28px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-3_5xl: 2rem; /* 32px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-4_5xl: 2.375rem; /* 38px*/
  --font-size-4_5x2: 2.75rem; /* 44px*/
  --font-size-5xl: 3rem; /* 48px */
  --font-size-5x2: 3.25rem; /* 52px */
  --font-size-6xl: 3.5rem; /* 56px */

  /* Вага шрифтів */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Міжрядкові інтервали */
  --line-height-none: 1;
  --line-height-tight: 1.2;
  --line-height-tight2: 1.4;
  --line-height-normal: 1.5;

  /* Letter Spacing (Міжлітерний інтервал) */
  --letter-spacing-tighter: -0.05em; /* Для великих заголовків */
  --letter-spacing-tight: -0.02em; /* Для підзаголовків */
  --letter-spacing-tight2: -0.01em;
  --letter-spacing-normal: 0em; /* Стандарт */
  --letter-spacing-wide: 0.025em; /* Для кнопок (наприклад, Sign Up) */
  --letter-spacing-widest: 0.1em; /* Для акцентних елементів */

  /* ===== BREAKPOINTS ===== */
  --bp-mobile-min: 320px;
  --bp-mobile: 375px;
  --bp-tablet: 768px;
  --bp-desktop: 1440px;

  /* ===== CONTAINER ===== */
  --container-padding-mobile: 20px;
  --container-padding-tablet: 32px;
  --container-padding-desktop: 64px;

  /* mobile (від 320 до 767) */
  --container-max-width-mobile: 375px;

  /* tablet (768–1439) */
  --container-max-width-tablet: 768px;

  /* desktop (1440+) */
  --container-max-width-desktop: 1440px;

  /* ===== ANIMATIONS ===== */
  --transition-fast: 150ms ease-in-out;
  --transition-base: 250ms ease-in-out;
  --transition-slow: 350ms ease-in-out;
}
